.homeButtons{
    width: 100%;
    text-align: right;
    background: #f79400;
    position: fixed;
    top: 0;
    left: 0;

    .homeButtons-homebtn{
        color: #000;
    }

    .homeButtons-favbtn{
        color: #000;
    }

    &.sticky{
        color: #000;
    }
}
