.homePage{
    text-align: center;
    color: #fff;

    .homePage-menu{

    }
    .homePage-searchsection{
        background: #f79400;
        padding: 40px 60px;

        .homePage-title{
            margin-bottom: 5px;
            font-size: 40px;
            font-weight: 600;
        }
        .homePage-subtitle{
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    .homePage-beers{
        width: 68vw;
        margin: 0 auto;
        text-align: left;
    }
}
