.homePage{
    text-align: center;

    .homePage-menu{

    }
    .homePage-searchsection{
        background: #f79400;
        padding: 40px 60px;
    }

    .homePage-beers{
        width: 68vw;
        margin: 0 auto;
        text-align: left;
    }
}
