.homePage{
    text-align: center;
    color: #fff;
    background: #eee;

    .homePage-menu{

    }
    .homePage-searchsection{
        background: #f79400;
        padding: 60px 60px 40px;

        .homePage-title{
            margin-bottom: 5px;
            font-size: 40px;
            font-weight: 600;
        }
        .homePage-subtitle{
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    .homePage-beers{
        width: 68vw;
        margin: 40px auto 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 960px;
    }
}
